.slider body {
    
	align-items: center;
	//background: #E3E3E3;
	display: flex;
	//height: 100vh;
	justify-content: center;
}

@mixin white-gradient {
	background: linear-gradient(to right, #e6e6e6 0%,rgba(255,255,255,0) 5%);
}

$animationSpeed: 15s;

// Animation
@keyframes scroll {
	0% { transform: translateX(0); }
	100% { transform: translateX(calc(-1066px * 2))}
}


// Styling
.slider {
	background: #e6e6e6;
    //box-shadow: 0 10px 20px -5px rgba(0, 0, 0, .125);
    //border:#696c65 1px solid;
	height: 700px;
	//margin: auto;
	overflow: hidden;
	position: relative;
	width: 100%;
	
	&::before,
	&::after {
		@include white-gradient;
		content: "";
		height: 700px;
		position: absolute;
		width: 200px;
		z-index: 2;
	}
	
	&::after {
		right: 0;
		top: 0;
		transform: rotateZ(180deg);
	}

	&::before {
		left: 0;
		top: 0;
	}
	
	$animationSpeed: 15s; 

	.slide-track {
		animation: scroll $animationSpeed linear infinite;
		display: flex;
		width: calc(2060 * 4);
	}
	
	.slide {
        max-width: 100%;
        height: auto;
        
        background-size: contain;
    }
    
}

//skills tab 
@keyframes scroll-skills {
	0% { transform: translateX(0); }
	100% { transform: translateX(calc(-1066px * 4))}
}

.slider-skills {
	background: rgb(235, 232, 232);
	//box-shadow: 0 10px 20px -5px rgba(0, 0, 0, .125);
	height: 100px;
	margin: auto;
	overflow:hidden;
	position: relative;
	width: 100%;
	
	&::before,
	&::after {
		@include white-gradient;
		content: "";
		height: 100px;
		position: absolute;
		width: 200px;
		z-index: 2;
	}
	
	&::after {
		right: 0;
		top: 0;
		transform: rotateZ(180deg);
	}

	&::before {
		left: 0;
		top: 0;
	}

	$animationSpeedSkills: 40s;

	.slide-track-skills {
		animation: scroll $animationSpeedSkills linear infinite;
		display: flex;
		width: calc(250px * 14);
	}
	
	.slide-skills {
		height: 100px;
		width: 250px;
	}
}