/*made-mirage, for title and captions*/
@font-face {
    font-family: 'made-mirage';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url('~assets/fonts/made-mirage/MADE Mirage Regular.otf') format('opentype');
  }

@font-face {
  font-family: 'made-mirage';
  font-style: thin;
  font-weight: 300;
  font-display: swap;
  src: url('~assets/fonts/made-mirage/MADE Mirage Thin.otf') format('opentype');
}

/*Karla, everything else*/
@font-face {
  font-family: 'Karla';
  font-style: 'extra-bold';
  font-weight: 900;
  font-display: swap;
  src: url('~assets/fonts/Karla/Karla-ExtraBold.ttf') format('truetype');
}
@font-face {
  font-family: 'Karla';
  font-style: bold;
  font-weight: 700;
  font-display: swap;
  src: url('~assets/fonts/Karla/Karla-Bold.ttf') format('truetype');
}
@font-face {
  font-family: 'Karla';
  font-style: medium;
  font-weight: 500;
  font-display: swap;
  src: url('~assets/fonts/Karla/Karla-Medium.ttf') format('truetype');
}
@font-face {
  font-family: 'Karla';
  font-style: 'light';
  font-weight: 300;
  font-display: swap;
  src: url('~assets/fonts/Karla/Karla-Light.ttf') format('truetype');
}
@font-face {
  font-family: 'Karla';
  font-style: thin;
  font-weight: 200;
  font-display: swap;
  src: url('~assets/fonts/Karla/Karla-ExtraLight.ttf') format('truetype');
}

body {
    background-color: #dfdfdf;
}

h2, h3, h4, h5, h6 {
  color:#474b41;
  /*font-weight: 600;*/
  line-height: 1.5;
  margin: 0 0 1rem 0;
  font-kerning: normal;
  /*font-weight: 300;*/
}

/*name is this*/
h1 {
  color:#474b41;
  font-size: 7rem;
	line-height: 1.3;
	letter-spacing: 0.2rem;
  font-family: made-mirage;
  /*text-transform: uppercase;*/
  justify-content: center;
  align-items: center;
  text-align: center;
}

/* most thick titles are this*/
h2 {
  color:#474b41;
  font-size: 4rem;
	line-height: 1.3;
	letter-spacing: 0.2rem;
  font-family: made-mirage;
  font-weight: 400;
}

/*section headers*/
h3 {
  font-family: Karla;
  font-weight: 700;
  font-size: 1.5em;
   letter-spacing: -1px;
   text-transform: uppercase;
}
h4 {
  font-family: Karla;
  font-weight: 300;
  font-size: 1rem;
}
